<% provide(:title, "家庭教師一覧") %>

<h1>家庭教師一覧</h1>

<%= will_paginate %>

<!--ここから新しい家庭教師一覧-->
<div class="row sampleRow">
  <% @tutors.each do |user| %>
  	<div class="col-xs-12 col-sm-6">
  	 <div class="panel panel-danger">
      	<div class="panel-heading">
  	      <%= link_to "#{user.name}さんの予約状況を確認する", user %>
      	</div>
      	<div class="panel-body">
      	  <div class="center">
        	  <% if user.image.nil? %>
        	    <div>
        	      <%# <%= image_tag "/user_images/default.png" %>
								<%= image_tag asset_path("/user_images/default.png", alt: "ユーザープロフィールデフォルト画像") %>
        	    </div>
        	  <% else %>
        	    <%# <%= image_tag "/user_images/#{user.image}", class:"img-responsive"%>
							<%= image_tag asset_path("/user_images/#{user.image}", alt: "プロフィール画像"), class: "img-responsive" %>
        	 <% end %>
        	  </div>
      	  <!--得意科目-->
      	  <P>得意科目：<%= user.favorite_subject %></P>
      	  <!--プロフイール-->
      	  <p>プロフィール：</p>
      	  <P><%= user.self_introduction %></P>
      	</div>
      </div>
  	</div>
  <% end %>
</div>
<!--ここまで新しい家庭教師一覧-->
  <%= will_paginate %>

<!--モーダルウィンドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
