<% provide(:title, @user.name) %>

<!--ここから新記述-->
<div>
<h1><%= @user.name %>, <%= @user.email %></h1>

<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-danger" %>
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-danger" %>
</div>

  <h1><%= @first_day.year %>/<%= @first_day.month %></h1>

  <%= link_to "予約が入りました。ご確認お願いいたします。", attendances_check_reservation_user_path(@user), remote: true, class: "btn btn-danger" if current_user.tutor? && @reservation_applications.present? %>

 <!--＠userがTutorの時のみ、カレンダーを表示-->
  <% if @user.tutor? %>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </tr>
      </thead>
  
      <tbody>
        <% month = [] %>
        <% week1 = @one_month_calendar.slice(0..6) %>
        <% week2 = @one_month_calendar.slice(7..13) %>
        <% week3 = @one_month_calendar.slice(14..20) %>
        <% week4 = @one_month_calendar.slice(21..27) %>
        <% week5 = @one_month_calendar.slice(28..34) %>
        <% week6 = @one_month_calendar.slice(35..45) %>
        <% month = [week1, week2, week3, week4, week5, week6] %>


        <% month.each do |week| %>
          <tr>
            <% week.each do |day| %>
              <td>

                <!--日付表示　Date型 xxx.dayで日付を表示するメソッド-->
                <%= day.day %><br>
                
                <!--もし昨日以降の古い日付(タイムゾーンつきで）xを表示  -->
                <% if day.to_time.in_time_zone('Asia/Tokyo') < Date.current %>
                  <button class="btn btn-default" disabled>x</button>


                <!--もし今月の最終日よりも未来日だったら(タイムゾーンつきで）-を表示  -->
                <% elsif day.to_time.in_time_zone('Asia/Tokyo') > @last_day %>
                  <button class="btn btn-default" disabled>-</button>


                <!--もしcurrent_userがTutorだったら-->
                <% elsif current_user.tutor? %>
                  <!--もしattendancesが存在したら-->
                  <% if @attendances.present? %>
                    <% @attendances.each do |attendance_i|%>
                      <!--attendance_iのインスタンスの日付と、Date型のカレンダー日付が同じなら、授業を表示-->
                      <% if attendance_i.worked_on == day %>
                        <%= link_to first_and_last_lesson_time(@user, attendance_i), attendances_edit_one_day_user_path(@user, worked_on: day), remote: true, class: "btn btn-danger" %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if @user.attendances.where(user_id: @user.id, worked_on: day) == [] %>
                    <%= link_to "授業を設定する", attendances_edit_one_day_user_path(@user, worked_on: day), remote: true, class: "btn btn-default" %>
                  <% end %>


                <!--もしcurrent_userがParentだったら-->
                <% elsif current_user.parent? %>
                  <% if @attendances.present? %>
                    <% @attendances.each do |attendance_i|%>
                      <!--attendance_iのインスタンスの日付と、Date型のカレンダー日付が同じなら、授業を表示-->
                      <% if attendance_i.worked_on == day %>
                        <%= link_to first_and_last_lesson_time(@user, attendance_i), attendances_edit_reservation_user_path(@user,attendance_id: attendance_i.id, worked_on: day,parent_id: current_user.id), remote: true, class: "btn btn-danger" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% elsif current_user.admin? %>
                  機能しないボタンのみ？
                <% end %>
              </td>
            <% end %>
          </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<!--Tutorが一日の変更をするモーダルウインドウ表示-->
<div id="edit_one_day" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--parentが授業の予約申請をするモーダルウインドウ表示-->
<div id="edit_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--tutorが家庭教師の依頼を承認/否認するモーダルウインドウ表示-->
<div id="check_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
