/Attendance-Tutorial/app/views/attendances/_check_reservation.html.erbをform_withで書いたバージョン



<% provide(:class_text, 'basic-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--ここからモーダルの中身-->
          <h1>家庭教師<%= @user.name %>さんへの家庭教師依頼が来ています。</h1>

          <%= form_with(model: @user, url: attendances_decide_reservation_user_path(date: @first_day), local: true, method: :patch) do |f| %>
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>0時</th>
                <th>1時</th>
                <th>2時</th>
                <th>3時</th>
                <th>4時</th>
                <th>5時</th>
                <th>6時</th>
                <th>7時</th>
                <th>8時</th>
                <th>9時</th>
                <th>10時</th>
                <th>11時</th>
                <th>12時</th>
                <th>13時</th>
                <th>14時</th>
                <th>15時</th>
                <th>16時</th>
                <th>17時</th>
                <th>18時</th>
                <th>19時</th>
                <th>20時</th>
                <th>21時</th>
                <th>22時</th>
                <th>23時</th>
              </tr>
            </thead>
            <tbody>
              <% @reservation_applications.each do |rsv| %>
              <%
                css_class = 
                case $days_of_the_week[rsv.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
              %>
              <tr>
                <td><%= rsv.worked_on %></td>
                <td><%= $days_of_the_week[rsv.worked_on.wday] %></td>
                <td><%= rsv.lesson_status_00 %></td>
                <td><%= rsv.lesson_status_01 %></td>
                <td><%= rsv.lesson_status_02 %></td>
                <td><%= rsv.lesson_status_03 %></td>
                <td><%= rsv.lesson_status_04 %></td>
                <td><%= rsv.lesson_status_05 %></td>
                <td><%= rsv.lesson_status_06 %></td>
                <td><%= rsv.lesson_status_07 %></td>
                <td><%= rsv.lesson_status_08 %></td>
                <td><%= rsv.lesson_status_09 %></td>
                <td><%= rsv.lesson_status_10 %></td>
                <td><%= rsv.lesson_status_11 %></td>
                <td><%= rsv.lesson_status_12 %></td>
                <td><%= rsv.lesson_status_13 %></td>
                <td><%= rsv.lesson_status_14 %></td>
                <td><%= rsv.lesson_status_15 %></td>
                <td><%= rsv.lesson_status_16 %></td>
                <td><%= rsv.lesson_status_17 %></td>
                <td><%= rsv.lesson_status_18 %></td>
                <td><%= rsv.lesson_status_19 %></td>
                <td><%= rsv.lesson_status_20 %></td>
                <td><%= rsv.lesson_status_21 %></td>
                <td><%= rsv.lesson_status_22 %></td>
                <td><%= rsv.lesson_status_23 %></td>
              </tr>
              <tr>
                <td>依頼者</td>
                <td></td>
                <td><%= User.find(rsv.lesson_00_parent_id).name if rsv.lesson_00_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_01_parent_id).name if rsv.lesson_01_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_02_parent_id).name if rsv.lesson_02_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_03_parent_id).name if rsv.lesson_03_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_04_parent_id).name if rsv.lesson_04_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_05_parent_id).name if rsv.lesson_05_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_06_parent_id).name if rsv.lesson_06_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_07_parent_id).name if rsv.lesson_07_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_08_parent_id).name if rsv.lesson_08_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_09_parent_id).name if rsv.lesson_09_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_10_parent_id).name if rsv.lesson_10_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_11_parent_id).name if rsv.lesson_11_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_12_parent_id).name if rsv.lesson_12_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_13_parent_id).name if rsv.lesson_13_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_14_parent_id).name if rsv.lesson_14_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_15_parent_id).name if rsv.lesson_15_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_16_parent_id).name if rsv.lesson_16_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_17_parent_id).name if rsv.lesson_17_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_18_parent_id).name if rsv.lesson_18_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_19_parent_id).name if rsv.lesson_19_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_20_parent_id).name if rsv.lesson_20_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_21_parent_id).name if rsv.lesson_21_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_22_parent_id).name if rsv.lesson_22_parent_id.present? %></td>
                <td><%= User.find(rsv.lesson_23_parent_id).name if rsv.lesson_23_parent_id.present? %></td>
              </tr>
              <%= f.fields_for "attendances[]", rsv do |attendance| %>
                <tr>
                  <td>承認</td>
                  <td></td>
                  <td>
                    <% if rsv.lesson_status_00 == 2 %>
                      <%= attendance.radio_button :tutor_checker_0, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_0, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_0, :refuse %>
                      <%= attendance.label :tutor_checker_0, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_01 == 2 %>
                      <%= attendance.radio_button :tutor_checker_1, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_1, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_1, :refuse %>
                      <%= attendance.label :tutor_checker_1, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_02 == 2 %>
                      <%= attendance.radio_button :tutor_checker_2, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_2, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_2, :refuse %>
                      <%= attendance.label :tutor_checker_2, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_03 == 2 %>
                      <%= attendance.radio_button :tutor_checker_3, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_3, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_3, :refuse %>
                      <%= attendance.label :tutor_checker_3, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_04 == 2 %>
                      <%= attendance.radio_button :tutor_checker_4, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_4, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_4, :refuse %>
                      <%= attendance.label :tutor_checker_4, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_05 == 2 %>
                      <%= attendance.radio_button :tutor_checker_5, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_5, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_5, :refuse %>
                      <%= attendance.label :tutor_checker_5, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_06 == 2 %>
                      <%= attendance.radio_button :tutor_checker_6, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_6, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_6, :refuse %>
                      <%= attendance.label :tutor_checker_6, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_07 == 2 %>
                      <%= attendance.radio_button :tutor_checker_7, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_7, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_7, :refuse %>
                      <%= attendance.label :tutor_checker_7, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_08 == 2 %>
                      <%= attendance.radio_button :tutor_checker_8, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_8, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_8, :refuse %>
                      <%= attendance.label :tutor_checker_8, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_09 == 2 %>
                      <%= attendance.radio_button :tutor_checker_9, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_9, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_9, :refuse %>
                      <%= attendance.label :tutor_checker_9, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_10 == 2 %>
                      <%= attendance.radio_button :tutor_checker_10, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_10, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_10, :refuse %>
                      <%= attendance.label :tutor_checker_10, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_11 == 2 %>
                      <%= attendance.radio_button :tutor_checker_11, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_11, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_11, :refuse %>
                      <%= attendance.label :tutor_checker_11, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_12 == 2 %>
                      <%= attendance.radio_button :tutor_checker_12, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_12, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_12, :refuse %>
                      <%= attendance.label :tutor_checker_12, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_13 == 2 %>
                      <%= attendance.radio_button :tutor_checker_13, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_13, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_13, :refuse %>
                      <%= attendance.label :tutor_checker_13, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_14 == 2 %>
                      <%= attendance.radio_button :tutor_checker_14, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_14, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_14, :refuse %>
                      <%= attendance.label :tutor_checker_14, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_15 == 2 %>
                      <%= attendance.radio_button :tutor_checker_15, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_15, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_15, :refuse %>
                      <%= attendance.label :tutor_checker_15, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_16 == 2 %>
                      <%= attendance.radio_button :tutor_checker_16, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_16, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_16, :refuse %>
                      <%= attendance.label :tutor_checker_16, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_17 == 2 %>
                      <%= attendance.radio_button :tutor_checker_17, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_17, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_17, :refuse %>
                      <%= attendance.label :tutor_checker_17, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_18 == 2 %>
                      <%= attendance.radio_button :tutor_checker_18, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_18, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_18, :refuse %>
                      <%= attendance.label :tutor_checker_18, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_19 == 2 %>
                      <%= attendance.radio_button :tutor_checker_19, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_19, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_19, :refuse %>
                      <%= attendance.label :tutor_checker_19, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_20 == 2 %>
                      <%= attendance.radio_button :tutor_checker_20, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_20, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_20, :refuse %>
                      <%= attendance.label :tutor_checker_20, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_21 == 2 %>
                      <%= attendance.radio_button :tutor_checker_21, :accept, checked: true %>
                      <%= attendance.label :tutor_checker_21, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_21, :refuse %>
                      <%= attendance.label :tutor_checker_21, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_22 == 2 %>
                      <%= attendance.radio_button :tutor_checker_22, :accept %>
                      <%= attendance.label :tutor_checker_22, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_22, :refuse %>
                      <%= attendance.label :tutor_checker_22, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  <td>
                    <% if rsv.lesson_status_23 == 2 %>
                      <%= attendance.radio_button :tutor_checker_23, :accept %>
                      <%= attendance.label :tutor_checker_23, "引受ける", {value: :accept, style: "display: inline-block;"} %>
                      <%= attendance.radio_button :tutor_checker_23, :refuse %>
                      <%= attendance.label :tutor_checker_23, "辞退する", {value: :refuse, style: "display: inline-block;"} %>
                    <% end %>
                  </td>
                  </tr>
                <% end %><!--f.fields_for "attendances[]", rsv do |attendance| のend-->
              <% end %><!--@reservation_applications.each do |rsv| のend-->
            </tbody>
          </table>
          
          <div class="center">
            <%= link_to "キャンセル", user_path(@user), class: "btn btn-lg btn-default" %> 
            <%= f.submit "確定する", class: "btn btn-lg btn-danger" %>
          </div>
          
            <!--ここまでモーダルの中身-->
          <% end %><!--form_withのend-->
        </div>
      </div>
    </div>
  </div>
</div>