<% provide(:class_text, 'basic-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--ここからモーダルの中身-->
          <h1><%= @attendance.worked_on %>　家庭教師<%= @user.name %>さんの予約可能時間</h1>
          <!--ここからコピぺの改造-->

          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
              <%
                css_class =
                case $days_of_the_week[@attendance.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
              %>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>0時</th>
                <th>1時</th>
                <th>2時</th>
                <th>3時</th>
                <th>4時</th>
                <th>5時</th>
                <th>6時</th>
                <th>7時</th>
                <th>8時</th>
                <th>9時</th>
                <th>10時</th>
                <th>11時</th>
                <th>12時</th>
                <th>13時</th>
                <th>14時</th>
                <th>15時</th>
                <th>16時</th>
                <th>17時</th>
                <th>18時</th>
                <th>19時</th>
                <th>20時</th>
                <th>21時</th>
                <th>22時</th>
                <th>23時</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @attendance.worked_on %></td>
                <td class="<%= css_class %>"><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <!--iはインデックス０から２３が入っている-->
                <% @attendance_lesson_statuses.each_with_index do |als, i| %>
                
                  <%
                    lesson_status_text = 
                    case als
                    when 0
                      '-'
                    when 1
                      '◎'
                    when 2
                      '問合中'
                    when 3
                      'Full'
                    end
                  %>
                  <td>
                    <% if current_user.parent %>
                      <!--もし予約したい日が当日日付だったら現在時刻以前は表示しない-->
                      <% if @attendance.worked_on == Date.current %>
                        <% if Time.current.hour >= i %>
                          <%= "-" %>
                        <% else %>
                          <% if als == 1 %>
                            <%= link_to lesson_status_text, attendances_confirm_reservation_user_path(user_id: @user.id, attendance_id: @attendance.id, worked_on: @attendance.worked_on, lesson_status_time: i, parent_id: current_user.id) %>
                          <% else %>
                            <%= lesson_status_text %>
                          <% end %>
                        <% end %>
                      <!--もし予約したい日が当日以外だったら。。。-->
                      <% else %>
                        <% if als == 1 %>
                          <%= link_to lesson_status_text, attendances_confirm_reservation_user_path(user_id: @user.id, attendance_id: @attendance.id, worked_on: @attendance.worked_on, lesson_status_time: i, parent_id: current_user.id) %>
                        <% else %>
                          <%= lesson_status_text %>
                        <% end %>
                      <% end %>
                      
                    <% end %>
                  </td>

                <% end %>
              </tr>
            </tbody>
          </table>
            <!--ここまでモーダルの中身-->
        </div>
      </div>
    </div>
  </div>
</div>