<% provide(:title, "テスト") %>

<h1>授業のリクエストを送信しますか？</h1>

<p><%= "#{@parent.name}さん、家庭教師#{@user.name}さんに#{l(@attendance.worked_on, format: :long)}　#{@lesson_status_time}:00〜#{@lesson_status_time}:59の授業をリクエストしますか？"%></p>


          <%= form_with(model: @user, url: attendances_update_reservation_user_path(@user), local: true, method: :patch) do |f| %>
            <%= f.fields_for @attendance do |af| %>
              <%= af.hidden_field :user_id, :value => @attendance.user_id %>
              <%= af.hidden_field :lesson_time, :value=> @lesson_status_time %>
              <%= af.hidden_field :parent_id, :value=> @parent.id %>
              <%= af.hidden_field :lesson_status, :value=> 2 %>
              <%= af.hidden_field :attendance_id, :value=> @attendance.id %>
            <% end %> 
            <%= f.submit "予約申請を送信する", class: "btn btn-block btn-primary" %>
          <% end %>
